* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(9, 9, 53);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: aqua;
    padding: 10px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-todo {
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.btn-add {
    background-color: green;
    color: white;
    font-size: 15px;
    border: 1px solid green;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.delete-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-btns button {
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
}

.filter-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
}


.filters-list {
    display: none;
    color: black;
    padding: 10px;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: white;
}

.filters-list div {
    cursor: pointer;
    margin: 5px;
}

.todolist-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-bottom: 20px;
}

.todolist-items-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.completed-task .task-title {
    text-decoration: line-through;
}

.filter-btn-container:hover .filters-list {
    display: block;
}

.filter-btn-container {
    position: relative;
}

.hidden {
    display: none;
}